#header {
  height: 100px;
}

#header h1 {
  padding-top: 15px;
  text-align: center;
  font-size: 60px;
}

#title p {
  padding-top: 25px;
}

.readmore {
  text-align: right;
  margin-bottom: 15px;
}
